[Unit]
Description=PiPhone
StartLimitBurst=5
StartLimitIntervalSec=300
After=i2s-silence.service

[Service]
ExecStart=/usr/bin/python3 -u /opt/piphone/piphone.py
Type=simple
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
